<% @messages.each do |message| %>
  <div class="message">
    <h3><a href="/messages/<%= message.id %>">(by: <%= message.author %>)</small></h3>
    <p>
      <%= message.content %>
    </p>

  </div>
<% end %>

<br/>
<a href="/messages/new">Post another message!</a>
